@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))






<button @onclick="editBook" class="btn btn-primary position-relative  float-end">
    Edit 
 </button>



@code {


    [Parameter]
    public int Id { get; set; }



    void editBook()
    {
        NavigationManager.NavigateTo($"/edit-book/{Id}");
    }

}
